body {
  background-color: rgb(255, 250, 250);
  font-family: inter;
}
nav {
  display: flex;
  background-color: rgb(255, 255, 251);
  justify-content: center;
  padding: 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
  margin-right: 8px;
}

h2 {
  font-weight: 280;
  font-size: 25px;
}
form {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.textBox {
  min-width: 160px;
  max-width: 500px;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}
.submitButton {
  min-width: 160px;
  max-width: 220px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.submitButton:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.counter {
  display: flex;
  justify-content: center;
  margin: 120px;
}

.count {
  border-radius: 50%;
  background-color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  align-content: center;
}

.plus,
.minus {
  border-radius: 50%;
  background-color: lightgray;
  width: 60px;
  height: 60px;
  font-size: large;
}
.getRecipeContainer {
  display: flex;
  justify-content: space-between;
  background: rgba(60, 58, 58, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(60, 58, 58, 0.3);
  align-items: center;
  padding: 4px 40px;
  margin: 50px 30px;
}

.subTitle {
  font-weight: bold;
  margin-left: 34px;
  font-size: 25px;
}

.recipeButton {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 2px #838180 solid;
  background-color: rgb(215, 124, 26);
  color: whitesmoke;
  font-size: 14.44px;
}
.recipeButton:hover {
  background-color: rgb(162, 102, 23);
}
.recipeButton:active {
  background-color: red;
}
.ingredientList {
  margin: 10px;
}
